import service from "@/utils/request";
import {
[[.TypeImports]]
} from "[[.RPCImport]]";
[[.EmptyImport]][[.OptionImport]]
const [[.URLConst]] = "/v1/admin/[[.ResourcePath]]";

/** [[.BusinessName]]服务。 */
export class [[.Entity]]ServiceImpl implements [[.Entity]]Service {
[[.Methods]]}

export const def[[.Entity]]Service = new [[.Entity]]ServiceImpl();
