.category-panel {
  margin: 20rpx 20rpx 0;
  padding: 18rpx 0 12rpx;
  border-radius: 10rpx;
  background-color: #fff;
}

/* 前台类目 */
.category {
  display: flex;
  flex-wrap: wrap;
  min-height: 328rpx;

  .category-item {
    flex: 0 0 20%;
    width: 20%;
    min-height: 160rpx;
    padding: 12rpx 0 18rpx;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;

    .icon-box {
      width: 96rpx;
      height: 96rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
    }

    .icon {
      width: 96rpx;
      height: 96rpx;
      flex: none;
    }

    .text {
      display: block;
      margin-top: 12rpx;
      width: 100%;
      min-height: 38rpx;
      padding: 0 12rpx;
      box-sizing: border-box;
      line-height: 38rpx;
      text-align: center;
      font-size: 26rpx;
      color: #666;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
