package admin

import (
	"context"
	"fmt"

	adminv1 "shop/api/gen/go/admin/v1"
	commonv1 "shop/api/gen/go/common/v1"
	"shop/pkg/errorsx"
	"shop/service/admin/biz"

	"github.com/go-kratos/kratos/v3/log"
	"google.golang.org/grpc"
)

const _ = grpc.SupportPackageIsVersion7

// [[.Entity]]Service Admin[[.BusinessName]]服务。
type [[.Entity]]Service struct {
	adminv1.Unimplemented[[.Entity]]ServiceServer
	[[.EntityVar]]Case *biz.[[.Entity]]Case
}

// New[[.Entity]]Service 创建Admin[[.BusinessName]]服务。
func New[[.Entity]]Service([[.EntityVar]]Case *biz.[[.Entity]]Case) *[[.Entity]]Service {
	return &[[.Entity]]Service{[[.EntityVar]]Case: [[.EntityVar]]Case}
}

[[.Methods]]
