syntax = "proto3";

package admin.v1;

import "common/v1/common.proto";
import "gnostic/openapi/v3/annotations.proto";
import "google/api/annotations.proto";
import "google/protobuf/empty.proto";

// Admin[[.TableComment]]服务
service [[.Entity]]Service {
[[.RPCs]]}

[[.Messages]]
